.qodo
google-chrome-stable_current_amd64.deb
*.pdf
*.e
*.log
FractureFatigue/FF_seminar_VI/assets/model/mesh.txt
FractureFatigue/FF_seminar_VI/assets/model/model_2026_04_30_07_14_16.log
FractureFatigue/FF_seminar_VI/assets/model/model_2026_04_30_07_28_12.log
FractureFatigue/FF_seminar_VI/assets/model/model.yaml
FractureFatigue/FF_seminar_VI/assets/model/ns_bottom_right.txt
FractureFatigue/FF_seminar_VI/assets/model/ns_bottom.txt
FractureFatigue/FF_seminar_VI/assets/model/ns_top.txt
FractureFatigue/FF_seminar_VI/assets/model/result.e
FractureFatigue/FF_seminar_VI/assets/model_fine_bf/mesh.txt
FractureFatigue/FF_seminar_VI/assets/model_fine_bf/model.yaml
FractureFatigue/FF_seminar_VI/assets/model_fine_bf/ns_bottom_right.txt
FractureFatigue/FF_seminar_VI/assets/model_fine_bf/ns_bottom.txt
FractureFatigue/FF_seminar_VI/assets/model_fine_bf/ns_top.txt
FractureFatigue/FF_seminar_VI/assets/model_fine_bf/result_bf_without_crack.e
FractureFatigue/FF_seminar_VI/assets/model_fine_bf/result_bf.e
FractureFatigue/FF_seminar_VI/assets/model_fine_bf/result.e
FractureFatigue/FF_seminar_VI/assets/model_horizontal_crack/mesh.txt
FractureFatigue/FF_seminar_VI/assets/model_horizontal_crack/model.yaml
FractureFatigue/FF_seminar_VI/assets/model_horizontal_crack/ns_bottom_right.txt
FractureFatigue/FF_seminar_VI/assets/model_horizontal_crack/ns_bottom.txt
FractureFatigue/FF_seminar_VI/assets/model_horizontal_crack/ns_top.txt
FractureFatigue/FF_seminar_VI/assets/model_vertical_crack/mesh.txt
FractureFatigue/FF_seminar_VI/assets/model_vertical_crack/model_2026_04_30_13_42_45.log
FractureFatigue/FF_seminar_VI/assets/model_vertical_crack/model.yaml
FractureFatigue/FF_seminar_VI/assets/model_vertical_crack/ns_bottom_right.txt
FractureFatigue/FF_seminar_VI/assets/model_vertical_crack/ns_bottom.txt
FractureFatigue/FF_seminar_VI/assets/model_vertical_crack/ns_top.txt
FractureFatigue/FF_seminar_VI/assets/model_vertical_crack/result_v.e
FractureFatigue/FF_seminar_VII/index.md
FractureFatigue/FF_seminar_VII/assets/create_models.jl
FractureFatigue/FF_seminar_VII/assets/symbolic_eigen.jl
FractureFatigue/FF_seminar_VII/assets/model/mesh.txt
FractureFatigue/FF_seminar_VII/assets/model/model_2026_04_30_07_14_16.log
FractureFatigue/FF_seminar_VII/assets/model/model_2026_04_30_07_28_12.log
FractureFatigue/FF_seminar_VII/assets/model/model.yaml
FractureFatigue/FF_seminar_VII/assets/model/ns_bottom_right.txt
FractureFatigue/FF_seminar_VII/assets/model/ns_bottom.txt
FractureFatigue/FF_seminar_VII/assets/model/ns_top.txt
FractureFatigue/FF_seminar_VII/assets/model/result.e
FractureFatigue/FF_seminar_VII/assets/model_fine_bf/mesh.txt
FractureFatigue/FF_seminar_VII/assets/model_fine_bf/model.yaml
FractureFatigue/FF_seminar_VII/assets/model_fine_bf/ns_bottom_right.txt
FractureFatigue/FF_seminar_VII/assets/model_fine_bf/ns_bottom.txt
FractureFatigue/FF_seminar_VII/assets/model_fine_bf/ns_top.txt
FractureFatigue/FF_seminar_VII/assets/model_fine_bf/result_bf_without_crack.e
FractureFatigue/FF_seminar_VII/assets/model_fine_bf/result_bf.e
FractureFatigue/FF_seminar_VII/assets/model_fine_bf/result.e
FractureFatigue/FF_seminar_VII/assets/model_horizontal_crack/mesh.txt
FractureFatigue/FF_seminar_VII/assets/model_horizontal_crack/model.yaml
FractureFatigue/FF_seminar_VII/assets/model_horizontal_crack/ns_bottom_right.txt
FractureFatigue/FF_seminar_VII/assets/model_horizontal_crack/ns_bottom.txt
FractureFatigue/FF_seminar_VII/assets/model_horizontal_crack/ns_top.txt
FractureFatigue/FF_seminar_VII/assets/model_vertical_crack/mesh.txt
FractureFatigue/FF_seminar_VII/assets/model_vertical_crack/model_2026_04_30_13_42_45.log
FractureFatigue/FF_seminar_VII/assets/model_vertical_crack/model.yaml
FractureFatigue/FF_seminar_VII/assets/model_vertical_crack/ns_bottom_right.txt
FractureFatigue/FF_seminar_VII/assets/model_vertical_crack/ns_bottom.txt
FractureFatigue/FF_seminar_VII/assets/model_vertical_crack/ns_top.txt
FractureFatigue/FF_seminar_VII/assets/model_vertical_crack/result_v.e
