name: GitHub Pages
on:
  push:
    branches:
      - main
    paths:
      - "**.md"
  workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: pages
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        folder:
          - wst_mb_01
          - wst_mb_02
          - wst_mb_03
          - wst_mb_04
          - wst_mb_05
          - wst_mb_06
          - wst_mb_07
          - wst_mb_08
          - wst_mb_09
          - wst_mb_10
          - wst_mb_11
          - wst_mb_12
          - wst_mb_13
          - wst2_mb_01
          - wst2_mb_02
          - wst2_mb_04
          - mti_ft_01
          - mti_ft_02
          - mti_ft_03
          - mti_ft_04
          - mti_ft_05
          - mti_ft_06
          - mti_ft_07
          - mti_ft_08
          - mti_ft_09
          - mti_ft_10
          - mti_ft_11
          - mti_ft_12
          - mti_ft_13
          - mti_ft_14
          - stream_mech_01
          - stream_wst_01
          - stream_wst_02
          - stream_wst_03
          - stream_wst_04
          - stream_wst_05
          - stream_wst_06
          - stream_wst_07
          - stream_wst_08
          - stream_wst_09
          - stream_wst_10
          - stream_wst_11
          - stream_wst_12
          - composites_01
          - Berufsschule
          - gju_01
          - gju_mech
          - GJU_mat_introduction
          - gju_01_questions
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Chrome dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libnss3 \
            libatk-bridge2.0-0 \
            libdrm2 \
            libxkbcommon0 \
            libgbm1 \
            libasound2 \
            libxrandr2 \
            libxcomposite1 \
            libxdamage1 \
            libxfixes3 \
            libcups2
      
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: ".nvmrc"
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build Marp slide deck
        run: CHROME_PATH=$(npx -y @puppeteer/browsers@latest install chrome@stable --path $(realpath ./tmp) | awk '{print $2}') FOLDER=${{ matrix.folder }} npm run build
        env:
          PUPPETEER_TIMEOUT: 60000
      
      - run: ls -R public
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: public
          name: ${{ matrix.folder }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download page artifacts
        uses: actions/download-artifact@v4
        with:
          path: public
          merge-multiple: true
      - name: Copy assets
        run: cp -r assets public/assets
      - run: ls -R public
      - name: Upload page artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: public
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4