name: GitHub Pages

on:
  push:
    branches:
      - master
    paths:
      - "**.md"

  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  # prepare:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Install Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         cache: npm
  #         node-version-file: ".nvmrc"

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Copy assets
  #       run: npm copy

  build:
    # needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder:
          - assets
          - ./werkstofftechnik/material_science_de_lecture_01
          - ./werkstofftechnik/material_science_de_lecture_02
          - ./werkstofftechnik/material_science_de_lecture_03
          - ./werkstofftechnik/material_science_de_lecture_04
          - ./werkstofftechnik/material_science_de_lecture_05
          - ./mb_wst/wst_mb_01
          - ./mb_wst/wst_mb_02
          - ./mensch_technik/mit_ft_01
          - ./stream/stream_wst_01
    steps:
      - uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: ".nvmrc"

      - name: Install dependencies
        run: npm ci

      - name: Build Marp slide deck
        run: CHROME_PATH=$(npx -y @puppeteer/browsers@latest install chrome@stable --path $(realpath ./tmp) | awk '{print $2}') FOLDER=${{ matrix.folder }} npm run build

      - run: ls -R public

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: public
          name: ${{ matrix.folder }}
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download page artifacts
        uses: actions/download-artifact@v4
        with:
          path: public
          merge-multiple: true

      # Kopiere alles in den public Ordner, um die Verzeichnisstruktur beizubehalten
      - name: Copy everything to public folder
        run: |
          cp -r ./* public/

      - run: ls -R public

      - name: Upload page artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: public

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
